In [7]:
import dataClean
import numpy as np
import pandas as pd

In [9]:
dataClean.create_dstinct_data()

Before:  (5671, 74)
After delete:  (3491, 74)

In [ ]:

dropOutColumn = ['CarName', 'MakeId', 'Url', 'FrontImagePath', 'PhotoCount', 'Price', 'Km', 'ModelName', 'VersionName', 'AdditionalFuel',
                 'VideoCount', 'OfferStartDate', 'OfferEndDate', 'LastUpdatedOn', 'AreaName', 'CityId', 'StateName',
                 'CertifiedLogoUrl', 'NoOfOwners', 'Emi', 'EmiFormatted', 'AbsureWarranty', 'AbsureScore', 'FinanceUrl',
                 'MakeMapping', 'RootMapping', 'ApiFlag', 'MaskingNumber', 'SellerContact', 'HostUrl', 'OriginalImgPath',
                 'CertificationId', 'InspectionText', 'HasWarranty', 'DealerQuickBloxId', 'NearbyCityText', 'NBCityStripId',
                 'DeliveryText', 'DeliveryCity', 'IsNearbyCityListing', 'Responses', 'IsEligibleForFinance', 'ResponsesText',
                 'MfgDate', 'ValuationUrl', 'CertificationScore', 'SellerNote', 'SellerName', 'IsHotDeal', 'MakeName', 'MakeMonth', 'InquiryId',
                 'RootId', 'ModelId', 'VersionId', 'MaskingName', 'SubSegmentID', 'VersionSubSegmentID', 'IsPremium', 'IsPremiumPackage',
                 'FinanceUrlText', 'SortScore']

In [31]:
raw_df = pd.read_csv('raw_data.csv')
# raw_df.drop(dropOutColumn, axis=1, inplace=True)
# raw_df.MaskingName.value_counts()
# raw_df.columns
# extra =pd.get_dummies(test)
raw_df = raw_df[raw_df['KmNumeric'] < 1500000]
raw_df = raw_df[raw_df['KmNumeric'] >0]
raw_df["km_1"] = 0
raw_df.KmNumeric.describe()
# raw_df['PriceNumeric'].groupby(raw_df['StateName']).describe().sort_values(['mean'])
# raw_df.head

count    3.488000e+03
mean     9.020967e+04
std      6.730435e+04
min      2.500000e+02
25%      5.221575e+04
50%      7.536300e+04
75%      1.143748e+05
max      1.170000e+06
Name: KmNumeric, dtype: float64

In [41]:
raw_df["km_1"] = 0
raw_df["km_2"] = 0
raw_df["km_3"] = 0
raw_df["km_4"] = 0
raw_df.loc[raw_df['KmNumeric'].between(114274, 1500000, inclusive=True),'km_1'] = 1
raw_df.loc[raw_df['KmNumeric'].between(75363, 114273, inclusive=True),'km_2'] = 1
raw_df.loc[raw_df['KmNumeric'].between(52215, 75362, inclusive=True),'km_3'] = 1
raw_df.loc[raw_df['KmNumeric'].between(250, 52214, inclusive=True),'km_4'] = 1
print(raw_df["km_1"].value_counts())
print(raw_df["km_2"].value_counts())
print(raw_df["km_3"].value_counts())
print(raw_df["km_4"].value_counts())

0    2615
1     873
Name: km_1, dtype: int64
0    2617
1     871
Name: km_2, dtype: int64
0    2616
1     872
Name: km_3, dtype: int64
0    2616
1     872
Name: km_4, dtype: int64

In [8]:
dataClean.clean_trainig_data().select_dtypes(include=[np.number]).head()

,PriceNumeric,KmNumeric,MakeYear,OwnerTypeId,BodyStyleId,enc_seller,enc_gearBox,enc_fuel,enc_color_silver,enc_color_white,...,enc_city_pune,enc_city_ahmedabad,enc_city_other,enc_name_innova,enc_name_fortuner,enc_name_corolla_altis,enc_name_etios,enc_name_etios_liva,enc_name_etios_corolla,enc_name_other
0,550000,58449,2012,1,1,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1325000,54468,2014,1,6,1,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1300000,51174,2014,1,6,1,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2000000,44288,2014,1,6,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1450000,44416,2015,1,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0